.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-menu-items {
  color: #4c4747;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #7c7a7a;
    text-decoration: none;
  }
}
